@model System.Data.DataTable
@using System.Data

@if (Model != null)
{
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    @for (int i = 1; i < Model.Columns.Count; i++)
                    {
                        <th>@Model.Columns[i].ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @for (int i = 1; i < Model.Columns.Count; i++)
                        {
                            <td>@row[Model.Columns[i].ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <button type="button" class="btn btn-danger close-modal-btn" data-bs-dismiss="modal">بستن</button>


    <script>
        $('.close-modal-btn').on('click', function () {
            $('#exampleModal').modal('hide');
        });
    </script>



    @*dovom*@

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-lg for large size -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Your table and content here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger close-modal-btn" data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
}



















































@*@using System.Data;
@model DataModel;

@if (Model.ItemList != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    @for (int i = 1; i < Model.DataTable.Columns.Count; i++)
                                    {
                                        <th>@Model.DataTable.Columns[i].ColumnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow row in Model.DataTable.Rows)
                                {
                                    <tr>
                                        @for (int i = 1; i < Model.DataTable.Columns.Count; i++)
                                        {
                                            <td>@row[Model.DataTable.Columns[i].ColumnName]</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>

}*@